<p>
  <b>Name:</b>
  <%= @parasite.name %>
</p>

<p>
  <b>Legs:</b>
  <%= @parasite.legs %>
</p>

<p>
  <b>Cat:</b>
  <%= @parasite.cat.name %>
</p>

<p>
  <b>House:</b>
  <%= @parasite.cat.house.name %>
</p>
