<h1 class="page_title"><%= t(locale_key(:index)) %></h1>

<%=
  render(:partial => "list_#{resources_name}") \
  rescue render(:partial => "#{resources_name}") \
  rescue render(:partial => "listing") \
  rescue "** No template found, create either 'list_#{resources_name}', '#{resources_name}', or 'listing' partial. **"
%>

<%= link_to t(locale_key(:create)), current_new_path() %>