<h1 class="page_title"><%= t(locale_key(:new)) %></h1>

<%=
  render(:partial => "new_#{resource_name}") \
  rescue render(:partial => "form") \
  rescue render(:partial => "#{resource_name}") \
  rescue "** No template found, create either 'new_#{resource_name}', '#{resource_name}', or 'form' partial. **"
%>

<%= link_to t("cruddler.abort"), current_index_path %>
