<!DOCTYPE html>
<html>
<head>
  <title>Cruddler</title>
  <%= stylesheet_link_tag    "cruddler/application", :media => "all" %>
  <%= javascript_include_tag "cruddler/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
